
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    
  }
  
  .container {
    position: relative;
    
  }
  .valentines {
    position: relative;
    top: 50px;
    cursor: pointer;
    animation: up 3s linear infinite;
    
  }
  .envelope {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #000;
    
  }
  
  .envelope:before {
    background-color: #a841d8;
    content: "";
    position: absolute;
    width: 212px;
    height: 212px;
    transform: rotate(45deg);
    top: -105px;
    left: 44px;
    border-radius: 30px 0 0 0;
  }
  
  .card {
    position: absolute;
    background-color: #fff;
    width: 270px;
    height: 170px;
    top: 5px;
    left: 15px;
    
  }
  
  .card:before {
    content: "";
    position: absolute;
    border: 3px solid #003049;
    border-style: dotted;
    width: 240px;
    height: 140px;
    left: 12px;
    top: 12px;
  }
  
  .text {
    position: absolute;
    font-family: 'Protest Revolution', sans-serif;
    font-size: 22px;
    text-align: center;
    line-height: 25px;
    top: 19px;
    left: 85px;
    color: #003049;
  }
  @keyframes colorChange {
    0% { background-color: #5b15ac; }
    50% { background-color: #0d1625; }
    100% { background-color: #FFFFFF; }
  }
  
  .heart {
    transition: background-color 1s ease;
    background-color: #5b15ac;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 110px;
    left: 105px;
    transform: rotate(-45deg);
    width: 30px;
    animation: colorChange 6s infinite;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: #5b15ac;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
    animation: colorChange 6s infinite;
  }

  
  .heart:before {
    top: -15px;
    left: 0;
  }
  
  .heart:after {
    left: 15px;
    top: 0;
  }
  .front {
    position: absolute;
    border-right: 180px solid #460b61;
    border-top: 95px solid transparent;
    border-bottom: 100px solid transparent;
    left: 120px;
    top: 5px;
    width: 0;
    height: 0;
    z-index: 10;
  }
  
  .front:before {
    position: absolute;
    content: "";
    border-left: 300px solid #5f2979;
    border-top: 195px solid transparent;
    left: -120px;
    top: -95px;
    width: 0;
    height: 0;
  }
