
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden;    
  }
  
  .container {
    position: relative;
    
  }
  .valentines {
    position: relative;
    top: 50px;
    cursor: pointer;
    animation: up 3s linear infinite;
    
  }
  .envelope {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #000;
    
  }
  
  .envelope:before {
    background-color: #a841d8;
    content: "";
    position: absolute;
    width: 212px;
    height: 212px;
    transform: rotate(45deg);
    top: -105px;
    left: 44px;
    border-radius: 30px 0 0 0;
  }
  
  .card {
    position: absolute;
    background-color: #fff;
    width: 270px;
    height: 170px;
    top: 5px;
    left: 15px;
    
  }
  
  .card:before {
    content: "";
    position: absolute;
    border: 3px solid #003049;
    border-style: dotted;
    width: 240px;
    height: 140px;
    left: 12px;
    top: 12px;
  }
  
  .text {
    position: absolute;
    font-family: 'Protest Revolution', sans-serif;
    font-size: 22px;
    text-align: center;
    line-height: 25px;
    top: 19px;
    left: 85px;
    color: #003049;
  }
  @keyframes colorChange {
    0% { background-color: #5b15ac; }
    50% { background-color: #0d1625; }
    100% { background-color: #FFFFFF; }
  }
  
  .corazon {
    transition: background-color 1s ease;
    background-color: #5b15ac;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 110px;
    left: 105px;
    transform: rotate(-45deg);
    width: 30px;
    animation: colorChange 6s infinite;
  }
  
  .corazon:before,
  .corazon:after {
    content: "";
    background-color: #5b15ac;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
    animation: colorChange 6s infinite;
  }

  
  .corazon:before {
    top: -15px;
    left: 0;
  }
  
  .corazon:after {
    left: 15px;
    top: 0;
  }
  .front {
    position: absolute;
    border-right: 180px solid #460b61;
    border-top: 95px solid transparent;
    border-bottom: 100px solid transparent;
    left: 120px;
    top: 5px;
    width: 0;
    height: 0;
    z-index: 10;
  }
  
  .front:before {
    position: absolute;
    content: "";
    border-left: 300px solid #5f2979;
    border-top: 195px solid transparent;
    left: -120px;
    top: -95px;
    width: 0;
    height: 0;
  }


  /* ======================================== */


  .contenedor{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    margin: 0px;
    font-size: 0px;
    padding: 0px;
  }
  
  .col{
    display:inline-block;
    width: 19%;
  }
  
  .heart{
    /*content*/
    width: 150px;
    height: 150px;
    position: relative;
    top: 120vh;
    z-index:-1;
  }
  
  .circle{
    /*circle2*/
    width:90px;
    height:90px;
    content:'';
    background-color: crimson;
    position: absolute;
    margin: 35px 0px 0px 30px;
    transform: rotate(-135deg);
  }
  
  .circle::after{
    /*square*/
    width: 90px;
    height: 90px;
    content:'';
    background-color: crimson;
    border-radius: 45px;
    position: absolute;
    margin: 44px 0px;
  }
  
  .circle::before{
    /*circle1*/
    width: 90px;
    height: 90px;    
    content:'';
    background-color: crimson;
    position: absolute;
    z-index: 1;
    margin: 0px 44px;
    border-radius: 45px;
  }
  /******************************/
  .heart.heart1 .circle{
    animation: 12s colors infinite;
    animation-delay: 0s;
  }
  .heart.heart1 .circle::before{
    animation: 12s colors infinite;
    animation-delay: 0s;
  }
  .heart.heart1 .circle::after{
    animation: 12s colors infinite;
    animation-delay: 0s;
  }
  
  
  .heart.heart2 .circle{
    animation: 12s colors infinite;
    animation-delay: 3s;
  }
  .heart.heart2 .circle::before{
    animation: 12s colors infinite;
    animation-delay: 3s;
  }
  .heart.heart2 .circle::after{
    animation: 12s colors infinite;
    animation-delay: 3s;
  }
  
  .heart.heart3 .circle{
    animation: 12s colors infinite;
    animation-delay: 6s;
  }
  .heart.heart3 .circle::before{
    animation: 12s colors infinite;
    animation-delay: 6s;
  }
  .heart.heart3 .circle::after{
    animation: 12s colors infinite;
    animation-delay: 6s;
  }
  
  .heart.heart4 .circle{
    animation: 12s colors infinite;
    animation-delay: 9s;
  }
  .heart.heart4 .circle::before{
    animation: 12s colors infinite;
    animation-delay: 9s;
  }
  .heart.heart4 .circle::after{
    animation: 12s colors infinite;
    animation-delay: 9s;
  }
  
  .heart.heart5 .circle{
    animation: 12s colors infinite;
    animation-delay: 5s;
  }
  .heart.heart5 .circle::before{
    animation: 12s colors infinite;
    animation-delay: 5s;
  }
  .heart.heart5 .circle::after{
    animation: 12s colors infinite;
    animation-delay: 5s;
  }
  
  
  @keyframes colors{
    0%{     
       background-color: #b30000;
    }
    25%{
      background-color: #24248f;
    }
    50%{
      background-color: #ff1a9f;
    }
    75%{
      background-color: #fbd204;
    }
    100%{
      background-color: #b30000;
    }
  }
  /******************************/
  .halfMoon{
    background: transparent;
    height: 90px;
    width: 45px;
    position: absolute;
    border-radius: 76px 0px 0px 0px;
    margin: 82px 81px;
    transform: rotate(45deg);
  }
  .halfMoon::before{
    background: black;
    height: 90px;
    width: 45px;
    border-radius: 76px 0px 0px 0px;
    content: '';
    position: absolute;
    margin: 45px -40px;
    transform: rotate(78.5deg);
  }
  
  .halfMoon::after{
    background: black;
    height: 90px;
    width: 45px;
    border-radius: 0px 0px 0px 76px;  
    content: '';
    margin: 3px 7px;
    position: absolute;  
    transform: rotate(369deg);
  }
  
  .heart1{
    animation: 20s Linear-motion infinite,MoveLeft 23s infinite;
    animation-delay: 5s;
  }
  
  .heart2{
    animation: 12s Linear-motion infinite, MoveLeft 15s infinite;
    animation-delay: 1s;
  }
  
  .heart3{
    animation: 12s Linear-motion infinite, MoveLeft 15s infinite;
    animation-delay: 18s;
  }
  
  .heart4{
    animation: 16s Linear-motion infinite, MoveLeft 19s infinite;
    animation-delay: 11s;
  }
  
  .heart5{
    animation: 15s Linear-motion infinite, MoveLeft 18s infinite;
    animation-delay: 5s;
  }
  
  @keyframes Linear-motion{
    0%{     
      top:100vh;
    }
    100%{
      top:-20vh;
    }
  }
  
  @keyframes MoveLeft{
    0%{
      margin-left: 0%;
    }
    50%{
      margin-left:50%;
    }
    100%{
      margin-left: 0%;
    }
  }



  span{
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(0 0 15px rgba(0,0,0,0.5));
    animation: fadeInOut 1s linear infinite;
  }
  @keyframes fadeInOut {
    0%,100%{
      opacity: 0;
    }
    20%,80%{
      opacity: 1;
    }
  }
  span::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('cora.png');
    background-size: cover;
    animation: moveShape 1s linear infinite;
  }
  @keyframes moveShape{
    0%{
      transform: translate(0) rotate(0deg);
    }
    100%{
      transform: translate(300px) rotate(360deg);
    }
  }